#app {
    width: 60%;
    height: 400px;
}

.container {
    display: flex;
    height: 400px;
    overflow: hidden;
}
.box {
    background-color: red;
    border: 4px solid black;
    box-sizing: border-box;
    transform: translateX(0);
    animation: transform 1s linear;
}

.box img {
    width: 100%;
    height: 392px;
    object-fit: cover;
}